@import './Fonts.scss';

* {
  box-sizing: border-box;
  user-select: none;
  font-size: 100%;
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: 640px;
  min-height: 360px;

  body {
    margin: 0;
    font-size: 100%;
    width: inherit;
    height: inherit;

    #root {
      height: inherit;
      width: inherit;

      canvas {
        image-rendering: pixelated;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }

      .ui {
        font-family: 'goblin';
        font-size: clamp(16px, 4vh, 32px);
        display: flex;
        flex-direction: column;
        padding: 1em;
        position: relative;
        pointer-events: none;
        width: 100vw;
        height: 100vh; // Fallback for dvh
        height: 100dvh;

        h1 {
          margin: 0;
        }

        .count {
          color: #ffffff;
          display: inline-block;
          text-shadow: 0.0625em 0.0625em 0em #000000;
          font-size: 2em;
          position: relative;
        }

        .hint {
          animation: shrink 1s infinite;
          color: #ffffff;
          text-align: center;
          text-shadow: 0.0625em 0.0625em 0em #000000;
          font-size: 4em;
          position: absolute;
          top: 55%;
          left: 50%;
        }

        .top-right {
          position: absolute;
          top: 1em;
          right: 1em;
        }

        .pdf {
          background-color: #ffffff;
          box-shadow: 0.125em 0.125em 0em #000000;
          display: flex;
          padding: 0.25em;
          pointer-events: all;
        }

        .toggle {
          background-color: #ffffff;
          box-shadow: 0.125em 0.125em 0em #000000;
          display: flex;
          margin-bottom: 0.25em;
          pointer-events: all;

          input {
            display: none;

            &:checked + label {
              &:before {
                background-color: #cde4ff;
              }
              
              &:after {
                left: 1.25em;
                background-color: #2c8afa;
                border-color: #0a61cb;
              }
            }
          }

          label {
            cursor: pointer;
            display: flex;
            font-size: 0.75em;
            padding: 0.25em 0.25em 0.25em 2.5em;
            position: relative;
            width: 100%;

            &:before {
              background-color: #cccccc;
              position: absolute;
              left: 0.25em;
              bottom: 0.25em;
              content: '';
              width: 2em;
              height: 1em;
            }

            &:after {
              background-color: #999999;
              border-bottom: 0.25em solid #555555;
              content: '';
              position: absolute;
              left: 0.25em;
              bottom: 0.25em;
              width: 1em;
              height: 1em;
              transition: all 0.1s ease-out;
            }

            span {
              width: 100%;
            }
          }
        }

        .instructions {
          color: #ffffff;
          display: inline-block;
          text-align: center;
          text-shadow: 0.0625em 0.0625em 0em #000000;
          margin: auto auto 0;
          font-size: 0.75em;
          line-height: 1.25em;
        }

        .loading {
          display: flex;
          flex-direction: column;
          font-family: 'Comfortaa-Bold';
          align-items: center;
          justify-content: center;
          pointer-events: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
          transition: all 0.5s ease-in-out;

          &.hidden {
            opacity: 0;
          }
      
          .bar {
            width: 50%;
            padding: 0.25em;
            margin: 1em 0em;
            border: 0.25em solid #ffffff;
            box-shadow: inset 0.125em 0.125em 0em #000000, 0.125em 0.125em 0em #000000;
      
            .progress {
              background-color: #ffffff;
              box-shadow: 0.125em 0.125em 0em #000000;
              transition: all 0.25s ease;
              height: 1em;
            }
          }
      
          label {
            color: #ffffff;
            font-size: 1em;
          }
        }
      }
    }
  }
}

@keyframes shrink { 0% { transform: scale(1); } 50% { transform: scale(0.90); } 100% { transform: scale(1); } }